
ObnoxiousTechTree.sln
.vs/ObnoxiousTechTree/v15/Server/sqlite3/storage.ide-wal
.vs/ObnoxiousTechTree/v15/Server/sqlite3/storage.ide-shm
.vs/ObnoxiousTechTree/v15/Server/sqlite3/storage.ide
.vs/ObnoxiousTechTree/v15/Server/sqlite3/db.lock
.vs/ObnoxiousTechTree/v15/.suo
.vs/ObnoxiousTechTree/DesignTimeBuild/.dtbcache
